/* 1. */

/* body {
    background-color: pink;
} */

/* #heading1 {
    color: rgb(26, 26, 142);
    background-color: yellow;
} */

/* .head {
    color: rgb(26, 26, 142);
    background-color: yellow;
}

button {
    color: white;
    background-color: blue;
}  */




/* 2. */

/* #box{
    height: 250px;
    width: 100px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
} */




/* PRACTICE */

.box{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
}

