body {
    background-color: pink;
}

/* #heading1 {
    color: rgb(26, 26, 142);
    background-color: yellow;
} */

.head {
    color: rgb(26, 26, 142);
    background-color: yellow;
}

button {
    color: white;
    background-color: blue;
}