/* h1 {
    color: red;
}

p {
    color: rgb(7, 7, 98);
}

button{
    color:brown;
}

body{
    background-color:rgb(255, 200, 0);
} */

/* *{
    color: rgb(226, 73, 73);
}

h1{
    color:cornflowerblue
}

#one{
    color:green;
}

.myclass{
    color:purple;
} */


/* Q1  */
#box{
    background-color: blue;
}

/* Q2 */
/* .heading{
    color:red;
} */

OR

h1,h2,h3{
    color:red;
}

/* Q3 */
button{
    background-color:green;
}