/* h1 {
    color: red;
}

p {
    color: rgb(7, 7, 98);
}

button{
    color:brown;
}

body{
    background-color:rgb(255, 200, 0);
} */

/* *{
    color: rgb(226, 73, 73);
}

h1{
    color:cornflowerblue
}

#one{
    color:green;
}

.myclass{
    color:purple;
} */